<div class="row mt-5">
    <div class="col">
        <mat-card class="shadow-md">
            <mat-card-content class="my-3">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        Class ID : {{classInformation.id}}
                    </div>
                    <div class="col-md-4 col-sm-12">
                        Date : {{classInformation.date}}
                    </div>
                    <div class="col-md-4 col-sm-12">
                        Day : {{classInformation.day}}
                    </div>
                </div>
                <div class="row mt-md-5">
                    <div class="col-md-4 col-sm-12">
                        Time : {{classInformation.startTime}} - {{classInformation.endTime}}
                    </div>
                    <div class="col-md-4 col-sm-12">
                        Center : {{classInformation.centerName}}
                    </div>
                    <div class="col-md-4 col-sm-12">
                        Session : {{classInformation.session}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row my-3">
    <div class="col">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Option 1 :
                </mat-panel-title>
                <mat-panel-description>
                    QR code Attendance
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row mt-3">
                <div class="d-flex justify-content-center">
                    <ngx-scanner-qrcode class="col-md-6 col-sm-12 h-25" #action="scanner"
                        (event)="handleScan($event, action)"></ngx-scanner-qrcode>
                </div>
            </div>
        </mat-expansion-panel>

    </div>
</div>

<div class="row my-3">
    <div class="col">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Option 2 :
                </mat-panel-title>
                <mat-panel-description>
                    Search by student name
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row mt-3 d-flex justify-content-center">
                <div class="col-md-4 col-sm-12">
                     <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter Parent Name</mat-label>
                    <input matInput placeholder="Parent Name" class="w-100" [(ngModel)]="studentName" (input)="handleSearch()">
                </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div *ngFor="let student of studentInfo" class="row my-3">
                    <button  mat-raised-button color="accent" (click)="addAttendance(student.id)" style="height: 4rem;">{{student.studentName}} / {{student.centerName}} / {{student.gradeName}}</button>
                    </div>
               </div>
            </div>
        </mat-expansion-panel>
    </div>
</div>

<div class="row my-5 table-responsive">
    <div class="col">
        <table *ngIf="studentAttendance" mat-table [dataSource]="studentAttendance" class="mat-elevation-z8 mb-5">

          
            <!-- Symbol Column -->
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
              </ng-container>

            <ng-container matColumnDef="studentName">
              <th mat-header-cell *matHeaderCellDef> student Name </th>
              <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
            </ng-container>

            <ng-container matColumnDef="centerName">
                <th mat-header-cell *matHeaderCellDef> Center </th>
                <td mat-cell *matCellDef="let element"> {{element.centerName}} </td>
              </ng-container>

              <ng-container matColumnDef="gradeName">
                <th mat-header-cell *matHeaderCellDef> Grade</th>
                <td mat-cell *matCellDef="let element"> {{element.gradeName}} </td>
              </ng-container>

              <ng-container matColumnDef="parentName">
                <th mat-header-cell *matHeaderCellDef> Parent's Name</th>
                <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" ><button  mat-raised-button color="warn" (click)="deleteAttendance(element.id)">Delete</button></td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>

